section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: indianred;
}
section h1 {
	font: 72px 'Open Sans';
	font-weight: 100;
	letter-spacing: .14em;
}
section p {
	font: 16px 'Open Sans';
}
